@import url('https://fonts.googleapis.com/css?family=Bowlby+One+SC&display=swap');
@import url('https://fonts.googleapis.com/css?family=Schoolbell&display=swap');




#container{
    background-color: darkgray;
}


#logo {
    width: 45%;
    min-width: 250px;
    }


p {
    color: black;
  
}

nav ul {
    list-style-type: none;
    background: green;
    color: white;
    overflow: hidden;
    margin: 0 ;
    padding: 0;
    width: 100%;
    border-radius: 25px;
    
}
li {
    float:left;
}
li a{
    display: block;
    padding: 10px 20px;  
    text-decoration: none;
    color: white;
}

.faq {
    float:right;
    
}

.navbar a:hover {
    background-color: #974A0C;
    text-decoration: none;
    color:black;
}
li .active {
    background:white;
    color: green;  
}



footer {
    width 100%;
    text-align: center;
    background: #974A0C;
    height: 40px;
    position: relative;
    left: 0; 
    bottom: 0;
}


#all-the-blogs {
    padding: 20px;
}
.blog-author-title {
    padding-left: 10px;
    background: black;
    color: white;
}

.blog-author-title p  {
    color: white;
    display: inline;
}

.blog-author-title h3 {
    font-family: 'Bowlby One SC', sans-serif;

}

.blog-content p {
    padding: 10px;
}

.signature {
    font-family: 'Schoolbell', sans-serif;
    font-size: 40px;
    margin: 0;
    padding:0;
    color: #55FF55;
    text-shadow: 2px 2px 2px black
}

.blog-border {
    border-bottom: 5px black solid;
}