@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");

/*----- FONT FAMILY IMPORTS -----*/
@import url('https://fonts.googleapis.com/css2?family=Graduate&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sigmar+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ingrid+Darling&display=swap');



/* -------- FONT FAMILIES USED ----------
font-family: 'Graduate', cursive;
font-family: 'Sigmar One', cursive;

blue: #006ED0 
green: #9CFC6C

*/


/* ---------------- Navbar -----------*/

.navbar {
    background-color: #006ED0;
    
   
}

.active {
    background-color: white;
    color: #006ED0 !important;

}

.navbar-brand img{
    height: 25px;
}

a.nav-link {
    color: white;
    text-align: center;
}

a.nav-link:hover {
    background-color: black !important; 
    color: white;
    
}

.nav-item {
    margin-right: 25px;
}

button  {
   margin-bottom: 10px;
}

.navbar-toggler-icon {
    color:black !important;
}

.page-title-holder {
    margin-top: 50px;
    width: 100%;
    border-bottom: solid 10px black ;
}

.bi-instagram {
    text-align: center;
    font-size: 1.25em;
    color: #8a3ab9;
    margin-right: 5px;
    
}
.bi-twitter {
    text-align: center;
    font-size: 1.25em;
    color: #00acee ;
    margin-right: 5px;

}
.bi-facebook {
    text-align: center;
    font-size: 1.25em;
    color: #3b5998;
    margin-right: 5px;
}
.bi-youtube {
    text-align: center;
    font-size: 1.25em;
    color: #FF0000;
    margin-right: 5px;
}
.bi-tiktok {
    text-align: center;
    font-size: 1.25em;
    color:#ff0050;
    margin-right: 5px;
}

.bi-list {
    font-size: 30px
}


/* ----------------redo this-------------------*/
a #tiktok:hover {
    background-color: #ff0050 !important;
    color: white !important;
}


/* ---- END OF NAVBAR AND PAGE TITLE --------*/

/*------FOOTER ------------------*/
footer {
    padding-top: 30px;
    padding-bottom: 40px;
    background-color: #006ED0;
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: dimgray;
}
.footer-text {
    display: block;
    width: 75%;
    margin: 20px auto 0 auto;
    padding-bottom: 10px;
    font-family: 'Graduate', cursive;
    border-top: black solid 5px;
    text-align: center;
    border-bottom: black solid 5px;
    position: static;;
    bottom: 0;
}

/*------END OF FOOTER ------------------*/

/*--------- HOME ------------ -----------*/
#main-content {
    margin-top: 50px;
    padding-bottom: 50px;
}

#m-high-info {
    margin-bottom: 20px;
}

#header-info {
    text-align: justify;
}
#header-img {
    border: black solid 4px;
}

#mightBeInfo {
    border: solid black 1px;
    padding: 20px;
    margin-top: 10px;
    box-shadow: 0px 0px 10px #006ED0;
    border-radius: 5px
}

.the-stuff {
    font-size: 24px;
    font-family: 'Sigmar One', cursive;
    background-color: #9CFC6C;
    padding: 5px;
    margin: 5px 5px 0px 0px;
    border-left: black solid 3px;
    border-top-right-radius: 5px;
    
}

#is-it {
    font-size: 50px;
    font-weight: bolder;
    color: #006ED0;
    padding: 20px; 
    background-color: black;
}

#might-be {
    color:#9CFC6C;
    font-size: 35px;
    background-color: #006ED0;
     font-family: 'Graduate', cursive;
    padding: 35px 0px;
}

.click-here {
    text-align: right;
    display: block;
    font-weight: 700;
    font-size: 20px;
    color: #006ED0;
    background-color: yellow;
    
}
.page-title {
    font-family: 'Graduate', cursive;
    font-weight: 900;
    font-size: 50px;
}

#great-question {
    border-bottom: 4px black solid;
    margin-bottom: 20px;
}

.index-intro {
    padding: 15px;
}

#main-content.row {
    margin-bottom: 25px;
}

#main-content .row .col-md-4 {
    padding: 10px;
    background-color: #9CFC6C;
    border-bottom: 4px black solid;
    margin-top: 15px;

}

#home-athletics {
    border-top: black solid 5px;
    margin: 20px 0;
}

.home-athletics {
    padding: 0 20px;
    margin: 20px;
}




/* ---------- 404 page ------------- */
#no-page-title {
    font-size: 100px;
    font-weight: bolder;
    color: #006ED0;
    font-family: chiller, cursive;  
    text-align: center;
    margin: 40px auto;
    
}

#img-404 {
    width: 75%;
    margin: 10px auto;
    display: block;
}


/*---------------- ACADEMICS ------------------*/

.btn {
    
    background-color: #006ED0 !important;
    display: block;
    margin: 0 auto;
}
#dropdownMenuButton1 {
    
    background-color: #006ED0 !important;
    color: #9CFC6C;
    margin: 20px auto;
    display: block;
}

#content-holder .dropdown-item {
    width: 100%;
}


.content-header {
    color: #006ED0;
    border-top: 2px black solid;
    border-bottom: 2px black solid;
    margin: 40px 0px 0px;
    padding: 25px;
    background-color: #242124;
}

.content {
    border-left: 4px solid black;
    padding: 15px 10px;
    background-color: gray;
    margin: 0px auto 30px; 
    
}

.content-holder {
    background-color: white;
}

.content-holder h3{
    font-family: 'Sigmar One', cursive;
    font-size: 30px;
}

#faculty-img-col {
    border-right: black solid 4px;
    
}
.content-holder .row {
    border-bottom: black solid 1px;''
}
.content-holder .col-8 {
    background-color: gray;
    padding: 10px;
    text-align: justify;
}

.staff-email {
    padding: 20px 0px 0px;
}

.staff-email p {
    margin: 0;
}

.staff-info {
    margin-bottom: 20px;
}


#chevron {
    position: fixed;
    top: 50%;
    right: 0px;
    text-align: center;
    padding: 10px;
    background-color: #006ED0 ;
    color: white;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    text-decoration: none;
    font-size: 20px;
    
    
    
}

.staff-email strong {
    border-bottom: solid white 3px;

}

.staff-email p {
    font-size: 18px;
    color: white;
    text-align: right; 
    
}

.staff-email i {
    padding-right: 10px;
}

.individual-blog {
    padding: 15px;
    background-color: #9CFC6C;
    margin: 30px 0px;
    border-bottom: solid black 5px;
}

.blog-title {
    font-family: 'Graduate', cursive;
    font-size: 2.2em;
}

.blog-title, .author-and-date {
    display: inline;
}


.author, .date {
    display: block;
    font-style: italic;
}

.blog-content {
    margin-top: 20px;
    font-family: monospace;
    border-top: solid black 2px;
    padding-top:15px;
    font-size: 1.15em
}

.endOfBlog h4 {
    font-family: 'Ingrid Darling', cursive;
    font-size: 2.5em;
    font-weight: bolder;
    color: #006ED0 ;
    width: 50%;
    border-bottom: 1px solid black;
    padding-bottom: -1px;
}

.endOfBlog h5 {
    font-family: 'Graduate', cursive;    
    font-size: 1em;
    color: #006ED0 ;
}


.footer-icons i{
    margin: 0px 20px;
    padding-top: 10px;
}

#footer-logo {
    width: 30%;
    background-color: white;
    padding: 15px;
    display: block;
    margin: 10px auto 0px;
    border-radius: 5px
}










