@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");

/*----- FONT FAMILY IMPORTS -----*/
@import url('https://fonts.googleapis.com/css2?family=Graduate&display=swap');




/* -------- FONT FAMILIES USED ----------
font-family: 'Graduate', cursive;




*/


/* ---------------- Navbar -----------*/

.navbar {
    background-color: #006ED0;
    
   
}

.active {
    background-color: white;
    color: #006ED0 !important;

}
.navbar-brand img{
    height: 25px;
}
a.nav-link {
    color: white;
    text-align: center;
}

a.nav-link:hover {
    background-color: black !important; 
    color: white;
    
}
.nav-item {
    margin-right: 25px;
}
button  {
    
    
    margin-bottom: 10px;
}

.navbar-toggler-icon {
    color:black !important;
}



#home-mascot {
    margin-top: 50px;
    padding-bottom: 50px;
}

.page-title-holder {
    margin-top: 50px;
    width: 100%;
    border-bottom: solid 10px black ;
}

#header-img {
    border: black solid 4px;
}

#is-it {
    font-size: 50px;
    font-weight: bolder;
    color: #006ED0;
    padding: 20px 0; 
    background-color: black;
}

#might-be {
    color:#9CFC6C;
    font-size: 35px;
    background-color: #006ED0;
     font-family: 'Graduate', cursive;
    padding: 35px 0px;
}
.page-title {
    font-family: 'Graduate', cursive;
    font-weight: 900;
    font-size: 50px;
}

#great-question {
    border-bottom: 4px black solid;
    margin-bottom: 20px;
}

.index-intro {
    padding: 15px;
}

#home-mascot .row {
    margin-bottom: 25px;
}

#home-mascot .row .col-md-4 {
    padding: 10px;
    background-color: #9CFC6C;
    border-bottom: 4px black solid;
    margin-top: 15px;

}

footer {
    padding-top: 30px;
    background-color: #006ED0;
    position: relative;
    color: #9CFC6C;
}
.footer-text {
    display: block;
    width: 75%;
    margin: 20px auto 0 auto;
    padding-bottom: 10px;
    font-family: 'Graduate', cursive;
    border-top: black solid 5px;
    text-align: center;
    
}




